#container{
    background-color: #ececec;
    height: 600px;
}
#nav{
    display: inline-block;
    width: 100%;
    height: 80px;
    background-color: white;
    margin-bottom: 10px;
    text-align: center;
}
#bag{
    height: 45px;
    width: 100%;
    background-color: #ffffff;
    padding-left: 90px;
    padding-top: 30px;
   
}

#empty{
    height: 400px;
    background-color: #ffffff;
    margin:auto;
    margin-top: 40px;
    line-height: 50px;
    width: 60%;
    text-align: center;
    
    /* position: ; */
    /* left: 5%; */
    

}


#cart>img{
    height: 100px;
    width: 150px;
    margin-top: 60px;
}
#btn{
    margin-top: 30px;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    background-color: #ff1744;
    color: white;
    border: none;
    font-size: 18px;
    margin-right: 18px;
}
#btn2{
    border-radius: 20px;
    width: 200px;
    height: 40px;
    background-color:white;
    color:  #ff1744;
    border: 1px solid  rgb(255,23,68);
    font-size: 18px;
}
#btn:hover,#btn2:hover{
    
    box-shadow: 5px 5px 3px #aaaaaa;
}
#cart+h2{
    margin-top: 40px;
}