* {
  margin: 0px;
}

#signUpBar {
  background-color: #212121;

  height: 30px;
  /* overflow: auto; */
}
#nav1 {
  background-color: black;
  width: 83%;
  float: right;
  height: 30px;
  line-height: 30px;
}
#searchBar {
  background-color: #212121;
  margin-top: 0px;
  display: block;
  width: 100%;
  /* overflow: auto; */
  position: relative;
  /* padding-bottom: 10px; */
  position: sticky;
  top: 0px;
}
a {
  color: white;
  text-decoration: none;
  padding: 0px 20px;
}
#luxury,
#box1 {
  display: inline-block;
}
#box1 {
  display: flex;
  float: right;
  margin-right: 10px;
}
#logo img {
  width: 70px;
}
#logo {
  display: inline-block;
  padding: 10px 40px 10px 40px;
}
#nav2box1 {
  display: inline-block;
  color: white;
  margin: 0px 30px;
}
#nav2box2 {
  margin-top: auto;
  color: white;

  /* display: inline-block; */
  /* float: right; */
  /* float: inline-end; */
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px 0px;
}
#nav2box {
  margin: 0px 0px;
}
#search {
  display: inline-block;
  background-color: #212121;
  border-bottom: 1px solid white;
}
#search input {
  background-color: #212121;
  border: none;
}
#icon {
  display: inline-block;
}
#nav2Content {
  padding: 0px 30px;
}
#dummytext {
  line-height: 50px;
  color: white;
}
#nav2box1c {
  margin: 0px;
  padding: 30px;
  height: 30px;
}
#nav2box1 span {
  padding: 10px;
  margin-top: 0px;
}

.cat:hover {
  background-color: white;
  color: black;
}
#listCat {
  margin-top: 10px;
  position: absolute;
  color: black;
  background-color: white;
  width: fit-content;
  padding: 0px;
  display: none;
}
#listCat li {
  list-style: none;
  border-bottom: 1px solid gray;
  padding: 20px;
  margin-left: auto;
}
.cat:hover + #listCat,
#listCat:hover {
  background-color: white;
  color: black;
  display: block;
}
#listBrand {
  margin-top: 10px;
  position: absolute;
  background-color: white;
  color: black;
  list-style: none;
  padding: 0px;
  display: none;
}

#listBrand li {
  padding: 20px;
  border-bottom: 1px solid gray;
}
.brand:hover {
  background-color: white;
  color: black;
}

.brand:hover + #listBrand,
#listBrand:hover {
  display: block;
}

#loginList {
  margin-top: 40px;
  background-color: white;
  /* position: absolute; */
  padding: 10px;
  /* margin-left: 405px; */
  z-index: 1;
  /* display: none; */
}
#loginList li {
  list-style: none;
  background-color: white;
  padding: 5px;
}

#loginList button {
  background-color: #ff1744;
  padding: 10px 25px;
  border-radius: 25px;
  color: white;
  border: none;
}
.fal {
  margin-right: 10px;
}
#arrow {
  margin-top: 33px;
  background-color: white;
  content: "   ";
  position: absolute;
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  z-index: 2;
  border: none;
  margin-left: 130px;
  transform: rotate(225deg);
  /* display: none; */
}

#boxhov {
  margin-top: 5px;

  position: absolute;
  margin-left: 405px;
  z-index: 1;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#dummy:hover + #boxhov,
#boxhov:hover {
  display: block;
}
